# ===== FRONTEND =====
frontend/node_modules
frontend/dist
frontend/.DS_Store

# ===== BACKEND =====
backend/node_modules
backend/dist
backend/.env
backend/.DS_Store

# ===== COMMON =====
*.log
logs
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
